/* this CSS rules gives the page layout its look */ 

/**This is the id for my navigation bar as i have two navigation bars
One for the website Student trainging, 
the other was demanded for the main and assignments**/

html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 10%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section{
    padding: 150px;
}

section h2{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

aside{
    width: 30%;
    padding: 25px;
    float: right;
}

footer{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
    align-items: center;
}

#web{
    display: inline-flex;
    justify-content: space-between;
}

#web a, #web a:visited{
    padding: 25px;
}

#assignment{
    display: inline-flex;
    justify-content: space-between;
}

#assignment a, #assignment a:visited{
    padding: 20px;
    width: 100%;
    height: 100%;
}

#welcome span{
    display: inline-block;
}

#welcome h3{
    margin-top: 10px;
    margin-bottom: 30px;
}

#welcome a{
    padding: 25px;
}

a:hover {
    text-decoration: underline;
} 

#welcome a:hover{
    color:  blueviolet;
}

#name{
    margin: 0 0 0 20px;
}

#about span{
    display: inline-block;
}

#servicies h2{
    display: block;
    justify-content: space-around;
    align-items: center;
}  

#table {
    display: flex;
    justify-content: space-around; 
    padding:  50px 0 30px 0;
}

#hobies figure, #servicies figure{
    transition: 0.7s ease;
    margin: 15px 15px;
}
#hobies figure:hover, #servicies figure:hover{
    transform: scale(1.1);
}

#profile:hover{
    transform: scale(1.1);
    transition: 0.7s ease;
}

#welcome button{
    display: inline-block;
    padding: 0.9375em 2.1875em;
    margin-bottom: 14px;
    transition: 0.7s ease;
}

#welcome button:hover{
    transform: scale(1.1);
}

#items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#projects h3{
    margin: 10px;
}

.project-item {
    width: 350px;
    margin: 10px;
    padding: 20px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.project-item:hover {
    transform: scale(1.05);
}

#items a {
    display: block;
    margin-top: 10px;
}    

#items a:hover {
    text-decoration: underline;
}

#education span {
    margin-top: 50px;
    margin-right: 50px; 
}

#imgid {
    display: flex;
}

#education ul ul{
    margin-left: 8em;
}

#education ul li {
    padding: 5px;
    transition: transform 0.3s;
}

#education ul ul li {
    padding: 5px;
}

#education li:hover {
    transform: scale(1.05);
}