p.error-message {
    color: #ff0000;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#s404 img{
    height: 40%;
    width: 40%;
    text-align: center;
    display: block;
    margin: 0 auto;
}
h1, h2, h3 {
    font-weight: 700; 
}
#name{
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 1.5em;
    text-align: left;
    margin: 0 0 0 20px;
}

#profile {
    border-radius: 50%;
    width: 200px; 
    height: 200px;
    object-fit: cover;
}
#profile:hover{
    transform: scale(1.1);
    transition: 0.7s ease;
}
footer{
    background-color: black;
}

#point0{
    background-color: white;
}

#point0 h1, #point0 h2, #point0 p{
    color: black;
}
#welcome span{
    display: inline-block;
    color: azure;
    font-size: 1.7em;
    font-weight: 600;
}

#welcome h3{
    font-size: 2em;
    font-weight: 700;
    letter-spacing:  1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#welcome button{
    background-color: blueviolet;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 13px;
    margin-bottom: 14px;
    transition: 0.7s ease;
}

#welcome button:hover{
    transform: scale(1.1);
}

#welcome img{
    max-width: 100%;
    position: relative;
    bottom: 60px;
    float: right;
    margin-left: 20px;
    margin-top: 60px;
    height: 20em;
    width: 20em;
    order: 2;
}

#welcome a{
    color: white;
    text-decoration: none;
    padding: 25px;
    font-size: 1.3em;
    font-weight: 750;
}
#welcome h2{
    color: gainsboro;
}
#welcome a:hover{
    color:  blueviolet;
}
#welcome, #servicies, #competitions{
    border: white 100px solid;
}
#about{
    border: blueviolet 20px solid;
}
#projects, #hobies, #education{
    border: #007BFF 50px solid;
}

#hobies{
    background-color: white;
}

#about p span{
    color: #007BFF;
}

#about{
    background-color: white;
}
#about h2{
    color: black;
}
#about span{
    display: inline-block;
    color: blueviolet;
    font-size: 1.7em;
    font-weight: 600;
}
#about p{
    font-size: 1.2em;
    padding-left: 50px;
    text-align: justify;
    color: black;
}

section h2{
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    color: blueviolet;
}

section {
    background-color: black;
    padding: 20px;
}

#courses h2{
    color: black;
}

#voluntary, #projects, #courses, #contact{
    background-color: white;
}

#voluntary h2, #projects h2, #courses h2, #contact h2{
    color: black;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer a img{
    padding: 20px;
    height: 80px;
    width: 80px;
}

nav a img{
    height: 20px;
    width: 20px;
}

#servicies h2{
    display: block;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}   

#table {
    display: flex;
    justify-content: space-around; 
    padding: 0px;
}

#servicies figure{
    text-align: center;
    transition: 0.7s ease;
    margin: 15px 15px;
}
#servicies figure:hover{
    transform: scale(1.1);
}
#servicies figure img{
    width: 150px;
    height: 150px;
    border: #007BFF 5px solid;
    background-color: white;
    padding: 25px;
}
#servicies figure figcaption{
    color: white;
    font-size: 1.7em;
    font-weight: 600;
    caption-side: bottom;
}
#hobies figure{
    text-align: center;
    transition: 0.7s ease;
    margin: 15px 15px;
}
#hobies figure:hover{
    transform: scale(1.1);
}
#hobies figure img{
    width: auto;
    height: 320px;
}
#hobies figure figcaption{
    color: black;
    font-size: 1.7em;
    font-weight: 600;
    caption-side: bottom;
    text-align: center;
}

#hobies #table{
    background-color: white;
    border: 7px solid black;
    border-left: none;
    border-right: none;
    padding:  50px 0 30px 0;
}

#servicies #table{
    background-color: black;
    border: 7px solid white;
    border-left: none;
    border-right: none;
    border-bottom-color: gainsboro;
    padding:  50px 0 30px 0;
}

#point0 span{
    color: #007BFF;
    font-size: xx-large;
}