*{
    padding: 20px;
    text-align: center;
    color: #36344E;
}

body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

label{
    padding: 2em;
    font-size: 1.5em;
}

input {
    background-color: #6C63FF;
    padding: 0.5em;
    font-size: 1.2em;
    color: white;
    position: block;

    margin: 0.8em;    
    border-radius: 30px;
    border-color: transparent;
}

#studnet_id{
    background-color: white;
    border-color: #36344E;
    color: #36344E;
}

img {
    height: 30%;
    width: 30%;
}